#calculator {
	padding-left: 36%;
	padding-top: 2%;
	width: 340px;
	height: 430px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Verdana;
}

.number-button, .equals-button, .decimal-button {
	font-size: 30px;
	font-weight: bold;
	border: 1px solid #f6f6f6;
	cursor: pointer;
	width: 32%;
	height: 20%;
}

.number-button:hover, .equals-button:hover, .decimal-button:hover  {
	background: #1ec626;
}

.operation-button, .parents-button, .backspace-button {
	font-size: 30px;
	border: 1px solid #f6f6f6;
	cursor: pointer;
	width: 16%;
	height: 18%;
	background: #868585;
}

.operation-button:hover, .parents-button:hover, .backspace-button:hover{
	background: #c61e65;
}

.calculator-display {
	background: #f6f6f6;
	padding: 8px;
	box-sizing: border-box;
	height: 18%;
	width: 80%;
	text-align: right;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}